/*
Example for my button

    <button class='my-button'>My Button</button>
*/
.my-button {
  background: white;
  color: #ff9900;
}

/*
Example for orange label

    <span class='orangeLabel'>An orange label</span>
*/
.orangeLabel {
  color: #ff9900;
}